### Flask ###
instance/*
!instance/.gitignore
.webassets-cache
.env
.flaskenv
*.pyc
*.pyo
env/
venv/
.venv/
env*
dist/
build/
*.egg
*.egg-info/
.tox/
.cache/
.pytest_cache/
.idea/
docs/_build/
.vscode
 
### Apple ###
.DS_Store
